In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
#Use this file path for pc
filepath = r"D:\gradschool\Capstone\CapstoneWorkSpace6\UseThisData"
#Use this file path for mac 
#filepath = r"/Users/jacksonjoyner/Desktop/MSBA/Capstone/CapstoneWorkSpace6/UseThisData/"
os.chdir(filepath)

In [3]:
playerdf = pd.read_csv("AllPlayerData.csv")

C:\Users\jacks\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
playerdf

In [39]:
gameids = list(playerdf["gameid"])
gameids = set(gameids)
dfuse = pd.DataFrame()
league = ["EU LCS",'NA LCS','LCK','LPL','LEC','LCS']
for item in league:
    dfnew = playerdf[playerdf["league"] == item]

    if dfnew.isnull().values.any == True:
        print("We found a null, looking into that now")
        print(df.new.isnull().sum())
    else:
        dfuse = dfuse.append(dfnew) 
        continue

This chunk bellow is used to grab only the variables I will eventually use in the model, removing any rows with NA's. I wrote the

In [48]:
variables = ["kills","deaths",'assists','doublekills','triplekills','quadrakills','pentakills','firstbloodkill'
             ,'firstbloodassist','firstbloodvictim','dpm','wpm','goldspent','total cs','minionkills','monsterkills',
             'monsterkillsenemyjungle','goldat15','xpat15','csat15','golddiffat15','xpdiffat15',
             'csdiffat15','killsat15','deathsat15','assistsat15','result']

dfuses = dfuse[variables][dfuse["datacompleteness"]== "complete"].dropna(how = "any")

dfuses.to_csv("allyearsnonulls.csv")

In [44]:
variables = ["kills","deaths",'assists','doublekills','triplekills','quadrakills','pentakills','firstbloodkill'
             ,'firstbloodassist','firstbloodvictim','dpm','wpm','goldspent','total cs','minionkills','monsterkills',
             'monsterkillsenemyjungle','goldat15','xpat15','csat15','golddiffat15','xpdiffat15',
             'csdiffat15','killsat15','deathsat15','assistsat15']
result = "result"

x = dfuses[variables][dfuse["datacompleteness"]== "complete"]
y = dfuses["result"][dfuse["datacompleteness"]== "complete"]

<ipython-input-44-85acb702d17d>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x = dfuses[variables][dfuse["datacompleteness"]== "complete"]

In [ ]:
x.isnull().sum()

In [ ]:
y.value_counts()

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [46]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(max_iter = 100000)

# fit the model with data
logreg = logreg.fit(x_train,y_train)

#
y_pred=logreg.predict(x_test)
logreg.coef_, logreg.intercept_
#talk in odds multipliers

(array([[ 5.40241542e-01, -1.17387891e+00,  6.11673767e-01,
          2.19398111e-01,  7.23929849e-02,  1.50514602e-02,
          2.71026073e-03, -4.09201421e-02, -2.93680410e-02,
          2.57996479e-01, -1.74216870e-03,  7.21531860e-02,
         -1.48014679e-04,  7.73223769e-04,  1.31562628e-03,
         -5.42402514e-04,  3.54558176e-02, -3.64485803e-04,
          1.39773906e-04,  7.87386224e-03,  1.13727458e-03,
          4.71009176e-05, -1.28295488e-02, -4.67577516e-01,
          1.13771438e+00, -4.70093885e-01]]),
 array([0.00257638]))

In [47]:
dftest = pd.DataFrame()
dftest["Var"] = variables
dftest["coef"] = logreg.coef_.tolist().pop()
dftest["exp_coef"] = np.exp(dftest["coef"])
dftest.sort_values(by=["coef"])

                        Var      coef  exp_coef
1                    deaths -1.173879  0.309165
25              assistsat15 -0.470094  0.624944
23                killsat15 -0.467578  0.626518
7            firstbloodkill -0.040920  0.959906
8          firstbloodassist -0.029368  0.971059
22               csdiffat15 -0.012830  0.987252
10                      dpm -0.001742  0.998259
15             monsterkills -0.000542  0.999458
17                 goldat15 -0.000364  0.999636
12                goldspent -0.000148  0.999852
21               xpdiffat15  0.000047  1.000047
18                   xpat15  0.000140  1.000140
13                 total cs  0.000773  1.000774
20             golddiffat15  0.001137  1.001138
14              minionkills  0.001316  1.001316
6                pentakills  0.002710  1.002714
19                   csat15  0.007874  1.007905
5               quadrakills  0.015051  1.015165
16  monsterkillsenemyjungle  0.035456  1.036092
11                      wpm  0.072153  1.074820
4               triplekills  0.072393  1.075078
3               doublekills  0.219398  1.245327
9          firstbloodvictim  0.257996  1.294334
0                     kills  0.540242  1.716421
2                   assists  0.611674  1.843514
24               deathsat15  1.137714  3.119630