In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
#Use this file path for pc
filepath = r"D:\gradschool\Capstone"
#Use this file path for mac 
# filepath = r"/Users/jacksonjoyner/Desktop/MSBA/Capstone/UseThisData/"
os.chdir(filepath)

In [3]:
playerdf = pd.read_csv("ImpactScoreData.csv")
playerdf

C:\Users\jacks\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15,impactscore,KDA,KP,D%
0,TRLH1/1000060015,complete,http://matchhistory.na.leagueoflegends.com/en/...,NA LCS,2014,Spring,0,2014-01-25 19:57:59,1,NaN,...,0.0,0.0,1.0,0.0,3.0,0.0,20.64,4.500000,0.529412,0.181818
1,TRLH1/1000060015,complete,http://matchhistory.na.leagueoflegends.com/en/...,NA LCS,2014,Spring,0,2014-01-25 19:57:59,1,NaN,...,0.0,1.0,2.0,5.0,1.0,0.0,14.76,3.333333,0.588235,0.272727
2,TRLH1/1000060015,complete,http://matchhistory.na.leagueoflegends.com/en/...,NA LCS,2014,Spring,0,2014-01-25 19:57:59,1,NaN,...,0.0,0.0,1.0,0.0,1.0,0.0,26.22,5.500000,0.647059,0.181818
3,TRLH1/1000060015,complete,http://matchhistory.na.leagueoflegends.com/en/...,NA LCS,2014,Spring,0,2014-01-25 19:57:59,1,NaN,...,1.0,0.0,0.0,0.0,2.0,1.0,41.66,15.000000,0.882353,0.090909
4,TRLH1/1000060015,complete,http://matchhistory.na.leagueoflegends.com/en/...,NA LCS,2014,Spring,0,2014-01-25 19:57:59,1,NaN,...,0.0,1.0,2.0,1.0,2.0,0.0,20.16,4.000000,0.705882,0.272727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497559,ESPORTSTMNT02_1929156,NaN,http://matchhistory.na.leagueoflegends.com/en/...,LCK CL,2021,Summer,0,2021-06-15 08:38:37,1,11.11,...,0.0,2.0,0.0,0.0,0.0,0.0,24.30,9.000000,0.391304,0.166667
497560,ESPORTSTMNT02_1929156,NaN,http://matchhistory.na.leagueoflegends.com/en/...,LCK CL,2021,Summer,0,2021-06-15 08:38:37,1,11.11,...,2.0,1.0,1.0,1.0,0.0,2.0,30.54,7.500000,0.652174,0.333333
497561,ESPORTSTMNT02_1929156,NaN,http://matchhistory.na.leagueoflegends.com/en/...,LCK CL,2021,Summer,0,2021-06-15 08:38:37,1,11.11,...,3.0,2.0,0.0,0.0,1.0,0.0,56.94,20.000000,0.869565,0.166667
497562,ESPORTSTMNT02_1929156,NaN,http://matchhistory.na.leagueoflegends.com/en/...,LCK CL,2021,Summer,0,2021-06-15 08:38:37,1,11.11,...,0.0,4.0,0.0,0.0,0.0,1.0,35.68,inf,0.956522,0.000000
497563,ESPORTSTMNT02_1929156,NaN,http://matchhistory.na.leagueoflegends.com/en/...,LCK CL,2021,Summer,0,2021-06-15 08:38:37,1,11.11,...,0.0,1.0,0.0,0.0,1.0,2.0,23.44,7.000000,0.608696,0.333333

In [82]:
variables = ["playername",'position','teamname',"kills","deaths",'assists','doublekills','triplekills','quadrakills','pentakills','firstbloodkill'
             ,'firstbloodassist','firstbloodvictim','dpm','wpm','goldspent','total cs','minionkills','monsterkills',
             'monsterkillsenemyjungle','goldat15','xpat15','csat15','golddiffat15','xpdiffat15',
             'csdiffat15','killsat15','deathsat15','assistsat15','result','impactscore','KDA','KP','D%',"earnedgoldshare",
            'damageshare','cspm','damagetakenperminute']

dfuses = playerdf[variables][playerdf["datacompleteness"]== "complete"].dropna(how = "any")
dfuses

#dfuses.to_csv("allyearsnonulls.csv")

,playername,position,teamname,kills,deaths,assists,doublekills,triplekills,quadrakills,pentakills,...,assistsat15,result,impactscore,KDA,KP,D%,earnedgoldshare,damageshare,cspm,damagetakenperminute
0,Cruzer,top,Dignitas,2,2,7,0.0,0.0,0.0,0.0,...,0.0,1,20.64,4.500000,0.529412,0.181818,0.206422,0.183627,7.9602,837.7960
1,Crumbz,jng,Dignitas,0,3,10,0.0,0.0,0.0,0.0,...,1.0,1,14.76,3.333333,0.588235,0.272727,0.161569,0.082062,3.5782,666.8453
2,scarra,mid,Dignitas,3,2,8,0.0,0.0,0.0,0.0,...,0.0,1,26.22,5.500000,0.647059,0.181818,0.230584,0.392236,9.3604,277.1046
3,Imaqtpie,bot,Dignitas,9,1,6,2.0,1.0,0.0,0.0,...,0.0,1,41.66,15.000000,0.882353,0.090909,0.264175,0.238274,8.6344,393.0337
4,KiWiKiD,sup,Dignitas,3,3,9,0.0,0.0,0.0,0.0,...,1.0,1,20.16,4.000000,0.705882,0.272727,0.137249,0.103801,0.8557,213.7338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497549,Rock,top,Hong Kong Attitude,6,4,3,1.0,0.0,0.0,0.0,...,1.0,0,23.98,2.250000,0.900000,0.153846,0.273646,0.329602,8.0273,1232.1680
497550,Patience,jng,Hong Kong Attitude,0,7,2,0.0,0.0,0.0,0.0,...,1.0,0,-0.66,0.285714,0.200000,0.269231,0.138549,0.128556,4.8926,908.9355
497551,B1ven,mid,Hong Kong Attitude,1,4,4,0.0,0.0,0.0,0.0,...,0.0,0,11.36,1.250000,0.500000,0.153846,0.253016,0.274324,9.3164,501.3867
497552,MnM,bot,Hong Kong Attitude,2,4,4,0.0,0.0,0.0,0.0,...,0.0,0,14.28,1.500000,0.600000,0.153846,0.252834,0.173123,9.1992,505.2832
497553,Wing,sup,Hong Kong Attitude,1,7,5,0.0,0.0,0.0,0.0,...,0.0,0,4.28,0.857143,0.600000,0.269231,0.081955,0.094395,1.1426,537.4219

From testing, this is the most accurate model I can create

In [125]:
variables = ['kills','deaths','assists','total cs','earnedgoldshare', 'damageshare','dpm','cspm']
x = dfuses[variables].to_numpy() 
y = dfuses["result"]

In [126]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [122]:
# instantiate the model (using the default parameters)
logreg = LogisticRegression(max_iter = 100000)

In [127]:
# fit the model with data
logreg = logreg.fit(x_train,y_train)

#
y_pred=logreg.predict(x_test)
logreg.coef_, logreg.intercept_

(array([[ 6.48588825e-01, -9.33978440e-01,  4.45216842e-01,
         -7.47554526e-03, -3.76493714e+01, -8.53703004e+00,
          2.23681085e-03,  9.85762472e-01]]),
 array([1.88730459]))

In [128]:
logreg.score(x_test,y_test)

0.8922474997701525

In [129]:
y_pred

array([1, 0, 1, ..., 0, 1, 1], dtype=int64)

In [43]:
dftest = pd.DataFrame()
dftest["Var"] = variables
dftest

           Var
0  impactscore